# Dataset Merge

### Basic Imports

In [33]:
import os
import pandas as pd

### Location def

In [34]:
conv_train = r"../datasets/Conversational Training/"
health_monitor = r"../datasets/Health Monitoring/"
mh_predict = r"../datasets/Mental Health Prediction/"

In [35]:
loc_1, loc_2 = os.path.join(mh_predict, os.listdir(mh_predict)[0]), os.path.join(mh_predict, os.listdir(mh_predict)[1])

# print(loc_1, loc_2)

### Reading files and printing head, tail and shape

In [36]:
ds_1, ds_2 = pd.read_csv(loc_1), pd.read_csv(loc_2)

#### DS_1 (Reddit Depression)

In [45]:
ds_1.describe()

       is_depression
count    7731.000000
mean        0.495537
std         0.500012
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [42]:
ds_1.head(10)

                                          clean_text  is_depression
0  we understand that most people who reply immed...              1
1  welcome to r depression s check in post a plac...              1
2  anyone else instead of sleeping more when depr...              1
3  i ve kind of stuffed around a lot in my life d...              1
4  sleep is my greatest and most comforting escap...              1
5  i m year old turning soon in a few month i liv...              1
6  i live alone and despite me being prone to lon...              1
7  i m not looking for sympathy just simply to st...              1
8  i don t know how to communicate all of my thou...              1
9  mom i m sad it hurt in my heart the feeling fa...              1

#### DS_2 (Deeper Dive [SMA])

In [46]:
ds_2.describe()

         Unnamed: 0
count  53043.000000
mean   26521.000000
std    15312.339501
min        0.000000
25%    13260.500000
50%    26521.000000
75%    39781.500000
max    53042.000000

In [44]:
ds_2.head(10)

   Unnamed: 0                                          statement   status
0           0                                         oh my gosh  Anxiety
1           1  trouble sleeping, confused mind, restless hear...  Anxiety
2           2  All wrong, back off dear, forward doubt. Stay ...  Anxiety
3           3  I've shifted my focus to something else but I'...  Anxiety
4           4  I'm restless and restless, it's been a month n...  Anxiety
5           5  every break, you must be nervous, like somethi...  Anxiety
6           6  I feel scared, anxious, what can I do? And may...  Anxiety
7           7    Have you ever felt nervous but didn't know why?  Anxiety
8           8  I haven't slept well for 2 days, it's like I'm...  Anxiety
9           9                 I'm really worried, I want to cry.  Anxiety

### Comparision of both datasets

In [49]:
l1, l2 = ds_1.columns, ds_2.columns
print(l1, l2)

Index(['clean_text', 'is_depression'], dtype='object') Index(['Unnamed: 0', 'statement', 'status'], dtype='object')

In [53]:
exists = ds_1['clean_text'].isin(ds_2['statement'])

# # Print the result
# print(exists)

In [ ]:
try:
    for i, row1 in ds_1.iterrows():
        for j, row2 in ds_2.iterrows():
            if row1['clean_text'] == row2['statement'] and row1["is_depression"] != 1:
                print("Similar Statement Found:")
                print("Row from ds_1:", row1.to_dict())
                print("Row from ds_2:", row2.to_dict())
except Exception as e:
    print("Error:", e)

In [81]:
try:
    # Perform an inner join on 'clean_text' and 'statement' columns
    merged_df = ds_1.merge(ds_2, left_on='clean_text', right_on='statement', suffixes=('_ds1', '_ds2'))
    merged_df = merged_df.drop(['statement', 'Unnamed: 0'], axis=1)
    
    # Filter the merged DataFrame where 'is_depression' is not 1
    # filtered_df = merged_df[(merged_df['is_depression'] == 1) & (merged_df['status'] == "Depression")]
    filtered_df = merged_df[(merged_df['status'] != "Depression")]
    
    # Print the filtered DataFrame
    print(f"Similar Statements Found:\n{filtered_df}")

    print(f"Unique Values:\n{filtered_df['is_depression'].unique}")
except Exception as e:
    print("Error:", e)

Similar Statements Found:
                                             clean_text  is_depression  status
4099  switchfoot http twitpic com y zl awww that s a...              0  Normal
4100  is upset that he can t update his facebook by ...              0  Normal
4101  kenichan i dived many time for the ball manage...              0  Normal
4102       my whole body feel itchy and like it on fire              0  Normal
4103  nationwideclass no it s not behaving at all i ...              0  Normal
...                                                 ...            ...     ...
8024                                       is that snow              0  Normal
8025                 moulin rouge mad me cry once again              0  Normal
8026  trying to shout but can t find people on the list              0  Normal
8027  ughh can t find my red sox hat got ta wear thi...              0  Normal
8028  slept wonderfully finally tried swatching for ...              0  Normal

[3930 rows x 3 columns]
Unique Values:
<bound method Series.unique of 4099    0
4100    0
4101    0
4102    0
4103    0
       ..
8024    0
8025    0
8026    0
8027    0
8028    0
Name: is_depression, Length: 3930, dtype: int64>

In [90]:
try:	
	# Print the unique words
	print(f"Unique Values:\n{ds_2['status'].unique()}")
except Exception as e:
	print("Error:", e)

Unique Values:
['Anxiety' 'Normal' 'Depression' 'Suicidal' 'Stress' 'Bipolar'
 'Personality disorder']